.profile_card {
  display: flex;
  flex-direction: column;
}
.user_info_wrap {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border: 1px solid var(--color-bg);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 122, 255, 0.03);
}
/* Разделитель */
.divider_line {
  height: 1px;
  background-color: var(--color-grey-light);
  margin: 16px 0;
  width: 100%;
}


