# ==========================================
# ⚠️ СЕКРЕТЫ И НАСТРОЙКИ (КАТЕГОРИЧЕСКИ НЕ ПУШИТЬ)
# ==========================================
.env
.env.*
!.env.example
server/.env
client/.env

# ==========================================
# 📦 ЗАВИСИМОСТИ И СБОРКА
# ==========================================
node_modules/
/dist/
/.cache/
/.vite/

# ==========================================
# 📊 ДАННЫЕ И ЛОКАЛЬНЫЕ БАЗЫ
# ==========================================
# Если вы случайно запустите MongoDB локально в папке проекта
/data/
*.db
*.sqlite

# Игнорируем локальные аудиозаписи пользователей (чтобы не пушить гигабайты звука)
server/src/uploads/*
!server/src/uploads/.gitkeep

# ==========================================
# 📝 ЛОГИ И ОТЛАДКА
# ==========================================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# ==========================================
# 💻 СИСТЕМНЫЙ МУСОР И РЕДАКТОРЫ КОДА
# ==========================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS-специфичные файлы
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

