.main_offer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.wrap {
  width: 100%;
  max-width: 515px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-grey-dark);
}

.btn_back {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  background: none;
  border: none;
  outline: none;
  color: var(--color-secondary);
  font: var(--font-ml);
  padding: 5px 0px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn_icon {
  width: 17px;
  height: 17px;
  margin-right: 5px;
  color: var(--color-secondary);
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title {
  font: var(--font-l);
  align-self: center;
  margin: 10px 0;
  text-align: center;
}

.subtitle {
  font: var(--font-menu);
  /* align-self: left; */
  margin: 10px 0;
  text-align: left;
}

.descr {
  font: var(--font-ms);
  text-align: justify;
  margin-bottom: 20px;
}
